@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #071E22, #7A7A7A);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d4d0d0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #DE4D86;
    text-align: center;
    text-shadow: 1px 1px 2px #872b50;
}

h2 {
    color: #DE4D86;
}

p {
    text-align: justify;
}

